/* Setting Variables : Font Family */
$primary-kr: 'Noto Sans KR', sans-serif;
$secondary-kr: 'CookieRun-Regular';
$primary-en: 'Raleway', sans-serif;
$bs-font: bootstrap-icons;

/* Setting Variables : Text Color */
$dark-black: #333333; // 문서 본문 전체 텍스트 색상
$dim-black: #555555;
$silver-black: #777777;
$light-black: #999999;
$dark-gray: #BDBDBD;
$dim-gray: #DDDDDD;
$silver-gray: #EEEEEE; // 입력요소(input) 보더 색상
$light-gray: #F5F5F5;
$cloudy-gray: #F9F9F9;

/* Setting Variables : Object Color */
$royalblue: #006BE5;
$orangered: #FD5631;
$orange: #FFD912;
$crimson: #ED2040;
$forestgreen: #2ECC71;
$turquoise: #00D2D3;
$tomato: #FF4C79;
$white: #FFFFFF;
$black: #000000;

body {
  font-family: $primary-kr;
  color: $dark-black;
}

/* header footer */
header {
  nav {
    width: 100%;
    border: 1px solid tomato;
    display: block;
    text-align: center;
    .logo {
      width: 100%;
      h1 {
        width: 300px;
        display: block;
        text-align: center;
        margin: 0 auto;
        padding-top: 60px;
        img {}
      }
    }
    .nav-menu {
      display: flex;
      justify-content: space-between;
      width: 1280px;
      margin: 0 auto;
      .nav-list {
        display: flex;
        border: 1px solid #000;
        li {
          border: 1px solid tomato;
          margin: 0 10px;
          font-weight: 500;
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}
footer {
  height: 200px;
  background: $dark-black;
  color: $white;
  font-weight: 300;
  p {
    margin: 0;
  }
}
/* page */
.wrapper {}
main {
  min-height: 900px;
  width: 1280px;
  margin: 0 auto;
  border: 1px solid tomato;
}

/********************** asset **********************/
// asset : card 
.card-wrap {
  display: flex;
  gap: 20px;
  .card-item {
    width: 300px;
    height: 400px;
    border: 1px solid #000;
    .card-img {
      width: 280px;
      height: 280px;
      margin: 20px auto;
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }
    .card-title {
      font-family: 'Paperlogy';
      font-weight: 700;
      p {
        margin: 0;
        padding: 0;
      }
      .category {
        font-size: 14px;
        font-weight: 500;
      }
      .product {
        font-size: 18px;
      }
    }
    .card-sub-info {
      p {}

    }
  }
}