/* Setting Variables : Font Family */
$primary-kr: 'Noto Sans KR', sans-serif;
$secondary-kr: 'CookieRun-Regular';
$primary-en: 'Raleway', sans-serif;
$bs-font: bootstrap-icons;

/* Setting Variables : Text Color */
$dark-black: #333333; // 문서 본문 전체 텍스트 색상
$dim-black: #555555;
$silver-black: #777777;
$light-black: #999999;
$dark-gray: #BDBDBD;
$dim-gray: #DDDDDD;
$silver-gray: #EEEEEE; // 입력요소(input) 보더 색상
$light-gray: #F5F5F5;
$cloudy-gray: #F9F9F9;

/* Setting Variables : Object Color */
$royalblue: #006BE5;
$orangered: #FD5631;
$orange: #FFD912;
$crimson: #ED2040;
$forestgreen: #2ECC71;
$turquoise: #00D2D3;
$tomato: #FF4C79;
$white: #FFFFFF;
$black: #000000;

body {
  font-family: $primary-kr;
  color: $dark-black;
}

/* header footer */
header {
  nav {
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 10;
    background: #fff;
    .logo {
      width: 100%;
      cursor: pointer;
      h1 {
        // width: 300px;
        display: block;
        text-align: center;
        margin: 0 auto;
        padding-top: 30px;
        img {}
      }
    }
    .nav-menu {
      display: flex;
      justify-content: space-between;
      // width: 1280px;
      margin: 0 auto;
      align-items: center;
      .nav-list {
        display: flex;
        // border: 1px solid #000;
        &.left {
          cursor: pointer;
          margin-left: 10px;
          font-size: 22px;
        }
        li {
          // border: 1px solid tomato;
          margin: 0 10px;
          font-weight: 500;
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
  .tab-list-menu {
    display: none;
    padding: 20px;
    top: 175px;
    position: fixed;
    &.active {
      width: 100%;
      min-height: 100px;
      z-index: 10;
      display: block;
      background: #fff;
      box-shadow: 0 10px 10px -5px #bdbdbd2c;
    }
  }
}
footer {
  height: 200px;
  background: $dark-black;
  color: $white;
  font-weight: 300;
  margin-top: 50px;
  p {
    margin: 0;
  }
}
/* page */
.wrapper {}
main {
  min-height: 900px;
  // width: 1280px;
  margin: 0 auto;
  border: 1px solid tomato;
}

/********************** asset **********************/
// asset : card 
.card-wrap {
  display: inline-grid;
  grid-template-columns: repeat(6, 1fr);
  .card-item {
    // width: 300px;
    height: 450px;
    cursor: pointer;
    border-radius: 10px;
    padding: 0 15px;
    // border: 1px solid #000;
    .card-img {
      width: 280px;
      height: 280px;
      margin: 20px auto;
      position: relative;
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
      i {
        position: absolute;
        top: 10px;
        right: 15px;
        cursor: pointer;
      }
    }
    .card-title {
      font-family: 'Paperlogy';
      font-weight: 700;
      p {
        margin: 0;
        padding: 0;
        font-weight: 500;
      }
      .category {
        font-size: 14px;
        color: $silver-black;
      }
      .product {
        font-size: 18px;
      }
    }
    .card-sub-info {
      h4 {
        padding: 15px 0 0 0;
        span {
          padding: 0 10px 0 0;
          &.origin-price {
            color: $silver-black;
            text-decoration: line-through;
            font-size: 14px;
          }
          &.real-price {
            font-size: 1.2em;
            color: #f74927;
          }
        }
      }
    }
    &:hover {
      box-shadow: 0px 0px 5px #e2e2e2
    }
  }
}